<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csp_meta_tag %>
    <%= javascript_tag nonce: true do %>
      document.getElementsByTagName("body")[0].addEventListener("load", function() {
      document.forms[0].submit();
      });
    <% end %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>
  <body style="visibility:hidden;">
    <%= form_tag(saml_acs_url) do %>
      <%= hidden_field_tag("SAMLResponse", @saml_response) %>
      <%= hidden_field_tag("RelayState", params[:RelayState]) %>
      <%= submit_tag "Submit" %>
    <% end %>
  </body>
</html>
